@media (orientation: portrait) {
    body {
        font-size: 2em;
    }
    
    .maze {
        width: 100%;
    }
    
    #share-button {
        font-size: 1.5em;
    }
}

@media (orientation: landscape) {
    body {
        font-size: 1em;
    }
    
    .maze {
        max-width: 800px;
    }
}

body {
    width: 100%;
    font-family: Lato, sans-serif;
    background-color: rgb(27, 22, 22);
    color: white;
}

h1, h2 {
    text-align: center;
}

.maze, .share-container {
    margin: auto;
}

.row {
    display: flex;
}

.cell {
    text-align: center;
    flex: 5;
    padding: 1px;
    margin: 3px;
    background-color: #555;
    font-size: 1.6em;
    font-weight: bolder;
    border-radius: 7px;
    border: 3px;
}

.correct {
    background:rgb(130, 187, 249);
}

.validChoice {
    opacity: 75%;
    background-color: rgb(172, 207, 244);
}

.wrong-down {
    border-bottom: 3px solid red !important;
}

.wrong-right {
    border-right: 3px solid red !important
}

.wrong-left {
    border-left: 3px solid red !important;
}

.wrong-up {
    border-top: 3px solid red !important;
}

.empty-tile {
    flex: 5;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

#share-button {
    visibility: hidden;
}

#selected {
    background:rgb(130, 187, 249);
}

#finish {
    background:  repeating-linear-gradient(
            45deg,
            green,
            green 10px,
            lime 10px,
            lime 20px
    );
}

#controls {
    text-align: center;
    margin: auto;
}

#controls button {
    font-size: 3em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
    